# Ignore all except for
/*

# ~/.local
!.local/
.local/*
!.local/bin/

# ~/.config
!.config/
.config/*
!.config/locale.conf
!.config/user-dirs.dirs

# dunst
!.config/dunst/

# firefox
!.config/ffox/

# i3
!.config/i3/

# mpv
!.config/mpv/

# neofetch
!.config/neofetch/

# newsboat
!.config/newsboat/

# ranger
!.config/ranger/

# tmux
!.config/tmux/

# xorg
!.config/xorg/

# yay
!.config/yay/

# zathura
!.config/zathura/

# git
!.config/git/
.config/git/*
!.config/git/config

# mpd
!.config/mpd/
.config/mpd/*
!.config/mpd/mpd.conf

# ncmpcpp
!.config/ncmpcpp/
.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

# neovim
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/netrw.vim
!.config/nvim/tabline.vim
!.config/nvim/vimplug.vim
!.config/nvim/spell
.config/nvim/spell/*
!.config/nvim/spell/en.utf-8.add

# zsh
!.config/zsh/
.config/zsh/*
!.config/zsh/aliasrc
!.config/zsh/.zkbd
!.config/zsh/.zprofile
!.config/zsh/.zshenv
!.config/zsh/.zshrc
